#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

# /etc/chrony/chrony.conf
# This configuration file is optimized for accuracy, security, and stability.

# Define reliable NTP server pools for synchronization
{% if chrony_ntp_source_mode is defined and chrony_ntp_source_mode == "pool" %}
{% for i in chrony_ntp_servers %}
pool {{ i }}
{% endfor %}
{% endif %}
{% if chrony_ntp_source_mode is defined and chrony_ntp_source_mode == "server" %}
{% for i in chrony_ntp_servers %}
server {{ i }}
{% endfor %}
{% endif %}

# Path to the drift file to store clock drift information
# Helps chrony adjust the system clock more efficiently
driftfile {{ chrony_driftfile_path }}
{% if chrony_rtcsync_enable %}

# Enable real-time clock synchronization on system boot
rtcsync
{% endif %}

# Adjust the system clock immediately if the offset exceeds 1 second (up to 3 times)
makestep {{ chrony_makestep }}

# Path to the authentication key file
# Used for securing time synchronization sessions
keyfile {{ chrony_keyfile_path }}

# Define the command key ID used for administrative commands
commandkey 1

# Generate a random command key for additional security
generatecommandkey

# Directory where Network Time Security (NTS) dump files are stored
ntsdumpdir {{ chrony_ntsdumpdir }}

# Maximum distance (round-trip delay) to trusted sources
# Helps in filtering unreliable time sources
maxdistance {{ chrony_maxdistance }}

# Minimum number of sources required for synchronization
# Ensures at least one valid time source before making adjustments
minsources {{ chrony_num_minsources }}

# Maximum allowed update skew before discarding a source
# Prevents unreliable sources from affecting system time
maxupdateskew {{ chrony_maxupdateskew }}

# Log changes to system clock adjustments larger than the given threshold
# Helps monitor sudden clock changes
logchange {{ chrony_logchange }}

# Enable leap second handling based on the specified timezone
# Ensures proper handling of leap seconds
leapsectz {{ chrony_leapsectz }}
{% if chrony_log_enable %}

# Enable logging for measurements, statistics, and tracking
log {{ chrony_log_options }}

# Specify directory for chrony logs
logdir {{ chrony_logdir_path }}
{% endif %}
{% if chrony_ntp_clients is defined and chrony_ntp_clients|length > 0 %}

# Allow time synchronization requests from a specific trusted IP address
# Restricts external access to trusted sources
{% for client in chrony_ntp_clients %}
allow {{ client }}
{% endfor %}
{% endif %}
