#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}

/var/log/chrony/*.log {
  {{ chrony_logrotate_options.frequency }}
  rotate {{ chrony_logrotate_options.count }}
  {% if chrony_logrotate_options.missingok %}
  missingok
  {% endif %}
  {% if chrony_logrotate_options.compress %}
  compress
  {% endif %}
  {% if chrony_logrotate_options.nocreate %}
  nocreate
  {% endif %}
  {% if chrony_logrotate_options.copytruncate %}
  copytruncate
  {% endif %}
  {% if chrony_logrotate_options.dateext %}
  # Add date to name of archive log files
  dateext
  dateformat .%Y-%m-%d
  {% endif %}
  # Archive log directory path
  olddir {{ chrony_logrotate_options.archive_directory_path }}
  # Run postrotate scripts if required
  sharedscripts
  postrotate
    /usr/bin/chronyc cyclelogs > /dev/null 2>&1 || true
  endscript
}
